.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  height: 448px;
  width: 100%;
  background-image: url("../../img/Banner.png");
  background-size: cover;
}

.slogan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 260px;
  width: 751px;
  background-color: rgba(62, 62, 62, 0.9);
  margin-top: auto;
}

.slogan-text {
  font-family: "Raleway";
  font-weight: 500;
  color: white;
  font-size: 40px;
  font-style: normal;
  line-height: 64px;
  margin: 0;
  margin-left: 90px;
  letter-spacing: -0.5px;
}

.slogan-line {
  width: 636px;
  background-color: rgba(228, 181, 107, 0.8);
  height: 2px;
  border-width: 0;
  margin: 0;
}

.slider-container {
  display: flex;
  align-self: center;
  margin-top: auto;
  margin-bottom: 15px;
}

.slider-item {
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 15px;
}

.slider-container :last-child {
  margin-right: 0;
}

.slider-item:hover {
  background-color: rgb(228, 197, 152);
}

.active {
  background-color: rgba(228, 181, 107);
}

@media (max-width: 360px) {
  .banner-container {
    height: 216px;
    background-image: url("../../img/Banner-mob.png");
  }
  .slogan-container {
    width: 252px;
    height: 110px;
  }
  .slogan-text {
    font-size: 14px;
    line-height: 25px;
    margin-left: 16px;
  }
  .slogan-line {
    width: 208px;
  }
  .slider-item {
    height: 8px;
    width: 8px;
    margin-right: 10px;
  }
}
