.comp-card-container {
  display: flex;
  width: 100%;
  height: 380px;
  margin-bottom: 30px;
  background-size: cover;
}

.comp-content-container {
  display: flex;
  align-self: center;
  background-color: rgba(62, 62, 62, 0.9);
}

.comp-card-container.right {
  justify-content: flex-end;
}

.comp-text-container {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 260px;
}

.comp-card-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 90px;
  margin-bottom: 25px;
}

.comp-card-title.right {
  margin-left: 35px;
}

.comp-card-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin: 0;
  margin-left: 90px;
  margin-bottom: 40px;
  width: 545px;
}

.comp-card-text.right {
  margin-left: 35px;
}

.comp-vertical-line {
  display: flex;
  width: 2px;
  height: 212px;
  background-color: #e4b56b;
  margin-right: 61px;
}

.comp-vertical-line.right {
  margin-right: 0;
  margin-left: 78px;
}

@media (max-width: 360px) {
  .comp-card-container {
    width: 360px;
    height: 236px;
  }
  .comp-content-container {
    width: 326px;
    height: 180px;
  }
  .comp-text-container {
    width: 100%;
    height: 150px;
    margin-top: 15px;
  }
  .comp-card-title {
    font-size: 20px;
    line-height: 23px;
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .comp-card-text {
    font-size: 12px;
    line-height: 16px;
    margin-left: 15px;
    margin-bottom: 0;
    width: 261px;
  }
  .comp-vertical-line {
    height: 100px;
    margin-right: 20px;
  }
  .comp-vertical-line.right {
    margin-left: 20px;
  }
  .comp-card-title.right {
    margin-left: 43px;
  }
  .comp-card-title.right {
    margin-left: 43px;
  }
}
