.search-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  right: -145px;
  height: 22px;
  padding-bottom: 20px;
  margin-bottom: 1px;
  background-color: #fff;
  z-index: 1;
}

.search-img {
  cursor: pointer;
  height: 18px;
  margin-right: 22px;
  z-index: 1;
}

.search-input {
  position: absolute;
  left: -112px;
  display: flex;
  width: 266px;
  height: 41px;
  padding-left: 31px;
  padding-right: 0;
  border: none;
  background-color: #f1f1f1;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 21px;
  color: #3e3e3e;
  z-index: 0;
}

.search-input:focus {
  outline: none;
}

.dropdown-s {
  animation: dropdown-s 0.1s ease-in 1 forwards;
}

.touched.hide-s {
  animation: hide-s 0.1s ease-in 1 forwards;
}

.touched.down-s {
  animation: down-s 0.1s ease-in 1 forwards;
}

.up-s {
  animation: up-s 0.1s ease-in 1 forwards;
}

@keyframes dropdown-s {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(42px);
  }
}

@keyframes hide-s {
  0% {
    transform: translateY(42px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes up-s {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes down-s {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 360px) {
  .search-input {
    display: none;
  }
  .search-container {
    right: 0;
    height: auto;
    padding: 0;
    margin-right: 25px;
  }
  .search-img {
    margin: 0;
  }
}
