.header {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  height: 106px;
}

@media (max-width: 360px) {
  .header {
    width: 323px;
    height: 60px;
  }
  .mob-search-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
} ;
